@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=M+PLUS+Rounded+1c&family=Oswald:wght@200..700&display=swap');

/* Take a note
font-family: "M PLUS Rounded 1c", sans-serif;
font-family: "Oswald", sans-serif;
*/


*{
    background-color:lightgrey;
}
.standard{
    background-color:blueviolet;
}
.hex{
    background-color:#FF6347;
}
.rgb{
    background-color:rgb(221, 160, 221);
}
.rgba{
    background-color:rgba(255, 255, 255, .5);
}

.text1{
    font-size: 26px;
    font-family: "Oswald", sans-serif;
}
.text2{
    font-size: 26px;
    font-family: "M PLUS Rounded 1c", sans-serif;
}
.text3{
    font-size: 26px;
    font-family: "M PLUS Rounded 1c", sans-serif;
}


.italic{
    font-style:italic;
    font-size:24px;
}
.oblique{
    font-style:oblique;
    font-size:24;
}
.normal{
    font-style: normal;
    font-size:24px;
}

/* Text Transform */
.uppercase{
    font-size:24px;
    text-transform:uppercase;
}
.lowercase{
    font-size :24px;
    text-transform: lowercase;
}
.capitalize{
    font-size:24px;
    text-transform:capitalize;
}
.underline{
    text-decoration:underline;
    font-size:24px;
}
.overline{
    text-decoration:overline;
    font-size:24px;
}
.line-through{
    text-decoration:line-through;
    font-size:24px;
}
/* Text Align */
.right{
    text-align:right;
    font-size:24px;
}
.center{
    text-align:center;
    font-size:24px;
}
.left{
    text-align:left;
    font-size:24px;
}
/* Text Indent
    px(absolute,independent)=unit value is px,%
    em(relative, dependent rely on px)= 1em is 16px
*/

.text-indent{
    text-indent: 20px;
    text-indent: 2em;
    text-indent: 25%;
}

.letter-spacing{
    letter-spacing: 10px;
    letter-spacing: -3px;
}
.word-spacing{
    word-spacing: 20px;
    word-spacing: -5px;
}
